{% extends "layout.html" %}
{% block cssadd %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'homefile.css')}}">
{% endblock %}
{% block content %}
    <div class="home-page">
        <div class="home-head">
            <h2>List Of Posts by {{ user.username }}</h2>
        </div>
        {% for post in posts%}
            <div class="home-post">
                <h2><a href="{{ url_for('posts.post', post_id = post.id) }}">{{post.title}}</a></h2>
                <p>Post By {{ post.author.username }}, On {{ post.date_posted.strftime('%d-%m-%Y') }}</p>
                <p>{{ post.content }}</p>
            </div>
        {% endfor %}
    </div>
    
    
{% endblock %}